# for vscode user
.vscode
# for pycharm user
.idea

# raw dataset
dataset/raw_dataset/*
!dataset/raw_dataset/sample_trainset/

# dataset1
dataset/dataset1/*
!dataset/dataset1/sample_trainset/
!dataset/dataset1/*.py