# for vscode user
.vscode/
# for pycharm user
.idea

# raw dataset
dataset/raw_dataset/*
!dataset/raw_dataset/sample_trainset/

# dataset[0-9]+
dataset/dataset[0-9]/*
!dataset/dataset[0-9]/sample_trainset/
!dataset/dataset[0-9]/*.py
!dataset/dataset[0-9]/*.md

tools/

